<div class="container">
  <h1>プロフィール</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <table class="table table-borderd, teble-condensed user-table">
        <tbody>
          <tr>
            <th class="active col-md-3">ID</th>
            <td class="col-md-9"><%= @user.id %></td>
          </tr>
          <tr>
            <th class="active">名前</th>
            <td><%= @user.name %></td></td>
          </tr>
          <tr>
          <th class="active">メールアドレス</th>
          <td><%= @user.email %></td>
          </tr>
          <tr>
            <th class="active">作成日</th>
            <td><%= l(@user.created_at, format: :long) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
