@import "bootstrap-sprockets";
@import "bootstrap";

.table-task td {
  vertical-align: middle;
  word-wrap: break-word;
}

#task-name {
  font-size: 1.8rem;
}

.label-form {
  margin-top: 5px;
}

.btn-form {
  margin-top: 10px;
}

#table-task {
  table-layout: fixed;
  width: 100%;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
}