/* ユーザー情報テーブル */

.active {
  text-align: center;
}

.user-table {
  vertical-align: middle;
  text-align: left;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

.label-user-division {
    margin-left: 5px;
}

/* 入力フォーム */

.label-Signup {
  margin-top: 5px;
}

.btn-Signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
    font-size: 14px;
  }  
}